@import "../../app/styles/variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;

  min-height: 64px;
  border: 1px solid $color-gray;
  -webkit-box-shadow: 0 10px 10px 0 rgba(34, 60, 80,0.05);
  -moz-box-shadow: 0 10px 10px 0 rgba(34, 60, 80,0.05);
  box-shadow: 0 10px 10px 0 rgba(34, 60, 80,0.03);

  .logoLink {

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 8px;
      }

      h1 {
        font-size: 24px;
        color: $color-black;
      }

    }
  }

  .middleMenu {

    display: flex;
    flex-direction: row;
    justify-content: center;

    a:not(:last-child) {
      margin-right: 32px;
    }

  }
}

