@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $color-white;
  color: $color-black;

}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.undraggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

textarea:focus, input:focus{
  outline: none;
}

*:focus {
  outline: none;
}

